.section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section--secondary {
    background-color: var(--tertiary-shadow-theme-color);
}

.section--contacto {
    position: relative;
    /* background-image: url(../../assets/iquitos.webp); */
    background-size: cover;
    background-position: center;
    
    
}

.section__title {
    text-shadow: 0 0 0.5rem var(--secondary-highlight-color);
    font-weight: 800;
    font-size: 1.75rem;
    margin: 0;
}

.container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}

.container--element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-section);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.form__group {
    display: flex;
    box-shadow: 
      0 0 0 0.125rem var(--reverse-primary-shadow-color),
      0 0 0 0.25rem var(--reverse-primary-shadow-color);
    border-radius: var(--primary-border-radius);
    overflow: hidden;
    transition: border 0.25s;
}
  
.form__group:hover {
    box-shadow: 
      0 0 0 0.125rem var(--secondary-button-color),
      0 0 0 0.25rem var(--secondary-button-color);
}
  
.form__input {
    background-color: transparent;
    border: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    padding: 0.5em;
    transition: color 0.25s;
}
  
.form__input:invalid {
    color: var(--primary-invalid-color);
}
  
.form__input::placeholder {
    color: var(--secondary-text-color);
}

.button {
    display: inline-block;
    background-color: var(--primary-theme-color);
    border: 0.0625rem solid var(--primary-theme-color);
    border-radius: var(--primary-border-radius);
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 1rem;
    font-family: var(--primary-font-family);
    text-decoration: none;
    padding: 0.25em 1em;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.25s;
}

.button:hover {
    box-shadow: 0 0 0.25rem 0.25rem var(--primary-theme-color);
    filter: brightness(112.5%);
}

.button--secondary {
    background-color: var(--secondary-button-color);
    border: 0.0625rem solid var(--secondary-button-color);
    color: var(--reverse-primary-text-color);
}

.button--secondary:hover {
    box-shadow: 0 0 0.5rem 0 var(--secondary-button-color);
}

.menu {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__img {
    color: var(--primary-text-color);
    display: block;
    font-size: 1.75rem;
    transition: transform 0.25s;
}

.menu__img:hover {
    transform: scale(1.25);
    color: var(--tertiary-shadow-theme-color);
}

.card__contacto-text {
    font-weight: 500;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.25s;
}

.card__contacto-text:hover {
    transform: scale(1.25);
    color: var(--tertiary-shadow-theme-color);
}

@media (min-width: 768px) {
    .button {
    font-size: 1.5rem;
    }

} 