.section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section--secondary {
    background-color: #fff
}

.section--contacto {
    position: relative;
    background-image: url(../assets/iquitos.webp);
    background-size: cover;
    background-position: center;
    
    
}

.section__title {
    text-shadow: 0 0 0.5rem #ffd700;
    color: #fff;
    font-weight: 800;
    font-size: 1.75rem;
    margin: 0;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container--element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.form__group {
    display: flex;
    box-shadow: 
      0 0 0 0.125rem #fff8,
      0 0 0 0.25rem #fff8;
    border-radius: 1rem;
    overflow: hidden;
    transition: border 0.25s;
}
  
.form__group:hover {
    box-shadow: 
      0 0 0 0.125rem #ffd700,
      0 0 0 0.25rem #ffd700;
}
  
.form__input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5em;
    transition: color 0.25s;
}
  
.form__input:invalid {
    color: #dc143c;
}
  
.form__input::placeholder {
    color:  #eee;
}

.button {
    display: inline-block;
    background-color: #20232a;
    border: 0.0625rem solid #20232a;
    border-radius: 1rem;
    color:#fff;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25em 1em;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.25s;
}

.button:hover {
    box-shadow: 0 0 0.25rem 0.25rem #fff;
    filter: brightness(112.5%);
}

.button--secondary {
    background-color: #ffd700;
    border: 0.0625rem solid #ffd700;
    color: #000;
}

.button--secondary:hover {
    box-shadow: 0 0 0.5rem 0 #ffd700;
}

.menu {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__img {
    color: #fff;
    display: block;
    font-size: 1.75rem;
    transition: transform 0.25s;
}

.menu__img:hover {
    transform: scale(1.25);
    color: #ffd700;
}

.card__contacto-text {
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.25s;
}

.card__contacto-text:hover {
    transform: scale(1.25);
    color: #ffd700;
}

@media (min-width: 768px) {
    .button {
    font-size: 1.5rem;
    }

} 